<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Si vous voulez faire quelques propositions, remarques où autre choses,<br>Vous pouvez nous contacter à l'adresse : <a href="https://mail.google.com/">yvesenergy@gmail.com</a> merci :) !!!</p>
</body>
</html>