<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="POST">
  <div class="form-group">
    <label for="inputsm">Auteur</label>
    <input class="form-control input-sm" id="inputsm" type="text" name="auteur">
  </div>
  <div class="form-group">
    <label for="inputlg">Potin</label>
    <input class="form-control input-lg" id="inputlg" type="text" name="gos"><br>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </div>
</form>

</body>
</html>