 <!DOCTYPE html>
<html>
<head>
	<title>C'est tous nous !!!</title>
</head>
<body>
	<table class = 'table'>
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Compétence</th>
      </tr>
    </thead>
    <tbody>
    
      <tr>
        <td>John</td>
        <td>Front-End</td>
      </tr> 
      <tr>
        <td>Sitraka</td>
        <td>Full-Stack</td>
      </tr>        
    </tbody>
  </table>

</body>
</html>

