<!DOCTYPE html>
<html>
<head>
	<title>Tongasoa</title>
</head>
<body>
	<div class="form-group">
  <label for="usr">Entre ton nom:</label>
  <input type="text" class="form-control" id="usr">
  <button type="submit" class="btn btn-default">Submit</button>
</div>

	<p> Bienvenue à toi  <strong><%=@name%></strong>, est-ce que notre site te plait? sinon laisse un petit potin en partant ;) !!!</p>

</body>
</html>